@model PVIMS.Web.Models.MetaWidgetDeleteModel
@{
    ViewBag.Title = "Delete Widget";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
    ViewBag.Icon = "fa-windows";
    ViewBag.Heading = "Widget";
    ViewBag.SubHeading = "Delete";
    ViewBag.OverrideBreadcrumb = true;
    ViewBag.ClinicalColour = "white"; ViewBag.AnalyticalColour = "white"; ViewBag.ReportingColour = "white"; ViewBag.PublisherColour = "orange"; ViewBag.AdminColour = "white";
}
@section breadcrumb
{
    <li>Widgets</li>
}

<!-- widget grid -->
<div id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-cogs"></i> </span>
                    <h2>Delete Widget (@Model.WidgetName)</h2>
                </header>
                <!-- widget div-->
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-danger alert-block">
                            <strong>Please note!</strong> You are about to delete this record. This action is not reversible....
                        </div>

                        @using (Html.BeginForm("DeleteMetaWidget", "Publisher", FormMethod.Post, new { @class = "smart-form" }))
                        {
                            @Html.AntiForgeryToken()

                            if (!ViewData.ModelState.IsValid)
                            {
                                <p class="alert alert-danger">
                                    Please review and correct the errors below.
                                </p>
                            }

                            @Html.HiddenFor(model => model.MetaWidgetId)
                            @Html.HiddenFor(model => model.WidgetName)

                            <header>
                                Basic Details
                            </header>

                            <fieldset>
                                <section>
                                    @Html.LabelFor(model => model.PageName)
                                    <label class="textarea">
                                        @Html.EditorFor(model => model.PageName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color:#F1F1F1;" } })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.WidgetName)
                                    <label class="textarea">
                                        @Html.EditorFor(model => model.WidgetName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color:#F1F1F1;" } })
                                    </label>
                                </section>
                                <section>
                                    @Html.LabelFor(model => model.WidgetType)
                                    <label class="textarea">
                                        @Html.EditorFor(model => model.WidgetType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "background-color:#F1F1F1;" } })
                                    </label>
                                </section>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary" value="Submit" name="button">
                                    Delete
                                </button>
                                <a href="@ViewBag.ReturnUrl" class="btn btn-default">Back</a>
                            </footer>
                        }
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
        </article>
    </div>
    <!-- end row -->
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
