<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    @Styles.Render("~/css/bootstrap.min.css")
    @Styles.Render("~/css/font-awesome.min.css")
    @Styles.Render("~/css/notifyjs.css")
    @Styles.Render("~/css/smartadmin-production.min.css")
    @Styles.Render("~/css/smartadmin-skins.min.css")

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

</head>
<body class="">
    <!-- Header Start -->
    <header id="header">

        <div style="width:100%; margin: 0 auto;">
            <div style="float:left; width:15%; border: 1px solid white;">
            </div>

            <div style="align-content:center; float:left; width:70%; border: 1px solid white;">
                <img src="~/img/SIAPS_USAID_Small.jpg" alt="Data Collection and Analysis Tool" style="display:block; margin-left:auto;margin-right:auto;" />
            </div>

            <div style="float:left; width:15%; border: 1px solid white;" class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->
                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span>
                        <a href="@Url.Action("LogOff", "Account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a>
                    </span>
                </div>
                <!-- end logout button -->
                <!-- fullscreen button -->
                <div id="fullscreen" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                </div>
                <!-- end fullscreen button -->

            </div>
         </div>

</header>
    <!-- Header End -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <div class="login-info text-center">
            <div>
                <a href="/SetContext.aspx?SetContext=0" id="hrefClinical" style="padding:5px; color: @ViewBag.ClinicalColour;"> <i class="fa fa-group fa-2x" title="Clinical Portal"></i> </a>
                <a href="/SetContext.aspx?SetContext=1" id="hrefAnalytical" style="padding:5px; color:@ViewBag.AnalyticalColour;"> <i class="fa fa-dashboard fa-2x" title="Analytical Portal"></i> </a>
                <a href="/SetContext.aspx?SetContext=2" id="hrefReporting" style="padding:5px; color:@ViewBag.ReportingColour;"> <i class="fa fa-bar-chart-o fa-2x" title="Reports Portal"></i> </a>
                <a href="/SetContext.aspx?SetContext=3" id="hrefPublisher" style="padding:5px; color:@ViewBag.PublisherColour;"> <i class="fa fa-files-o fa-2x" title="Info Portal"></i> </a>
                <a href="/SetContext.aspx?SetContext=4" id="hrefPublisher" style="padding:5px; color:@ViewBag.AdminColour;"> <i class="fa fa-windows fa-2x" title="Administration"></i> </a>
            </div>
        </div>
        <div>
            @{Html.RenderPartial("_MvcMenu");}
        </div>

</aside>
    <!-- END NAVIGATION -->
    <!-- MAIN PANEL -->
    <div id="main" role="main" data-mode="Online">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                    <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                @if (ViewBag.ClinicalColour == "orange")
                {
                    <li><a href="/"><span style="color:orange;">Clinical Portal</span></a></li>
                }
                @if (ViewBag.AnalyticalColour == "orange")
                {
                    <li><a href="/"><span style="color:orange;">Analytical Portal</span></a></li>
                }
                @if (ViewBag.ReportingColour == "orange")
                {
                    <li><a href="/"><span style="color:orange;">Reporting Portal</span></a></li>
                }
                @if (ViewBag.PublisherColour == "orange")
                {
                    <li><a href="/"><span style="color:orange;">Info Portal</span></a></li>
                }

                @RenderSection("breadcrumb", false)
                @if (!(ViewBag.OverrideBreadcrumb ?? false))
                {
                    if (!String.IsNullOrWhiteSpace(ViewBag.Heading))
                    {
                        <li>@ViewBag.Heading</li>
                    }
                    if (!String.IsNullOrWhiteSpace(ViewBag.SubHeading))
                    {
                        <li>@ViewBag.SubHeading</li>
                    }
                }
            </ol>
            <!-- end breadcrumb -->

        </div>
        <!-- END RIBBON -->
        <!-- MAIN CONTENT -->
        @RenderBody()
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->
    <!-- PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="text-center">
                <span class="txt-color-white" >
                    Management Sciences For Health © 2018 | Logged in as
                    <a class="txt-color-white" href="#" data-toggle="modal" data-target="#userModal">"@User.Identity.Name"</a> | version 1.17.0
                </span>
            </div>
        </div>
    </div>
    <!-- END PAGE FOOTER -->
    <div class="modal" id="userModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="color:white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>User Profile

                </div>

                <div class="modal-body smart-form">
                    <fieldset>
                        <legend>Facilities</legend>
                        <div class="row">
                            <section class="col col-1"></section>
                            <section class="col col-6">
                                <span id="spnFacility"></span>
                            </section>
                        </div>
                        <legend>Roles</legend><br />
                        <div class="row">
                            <section class="col col-1"></section>
                            <section class="col col-6">
                                <span id="spnRole" ></span>
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END SHORTCUT AREA -->

    <!--================================================== -->
    @Scripts.Render("~/bundles/jquery")

    <script src="~/js/libs/jquery-ui.min.js"></script>
    <script>
	    if (!window.jQuery.ui) {
		    document.write('<script src="../js/libs/jquery-ui-1.10.3.min.js"><\/script>');
	    }
    </script>

    <!-- SITE WIDE SCRIPTS-->
    <script src="@Scripts.Url("~/js/app.config.js")"></script><!-- IMPORTANT: APP CONFIG -->
    <script src="@Scripts.Url("~/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js")"></script><!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="@Scripts.Url("~/js/bootstrap/bootstrap.min.js")"></script><!-- BOOTSTRAP JS -->
    <script src="@Scripts.Url("~/js/notification/SmartNotification.min.js")"></script><!-- CUSTOM NOTIFICATION -->
    <script src="@Scripts.Url("~/js/smartwidgets/jarvis.widget.min.js")"></script><!-- JARVIS WIDGETS -->
    <script src="@Scripts.Url("~/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js")"></script><!-- EASY PIE CHARTS -->
    <script src="@Scripts.Url("~/js/plugin/jquery-validate/jquery.validate.min.js")"></script><!-- JQUERY VALIDATE -->
    <script src="@Scripts.Url("~/js/plugin/masked-input/jquery.maskedinput.min.js" )"></script><!-- JQUERY MASKED INPUT -->
    <script src="@Scripts.Url("~/js/plugin/select2/select2.min.js" )"></script><!-- JQUERY SELECT2 INPUT -->
    <script src="@Scripts.Url("~/js/plugin/bootstrap-slider/bootstrap-slider.min.js" )"></script><!-- JQUERY UI + Bootstrap Slider -->
    <script src="@Scripts.Url("~/js/plugin/msie-fix/jquery.mb.browser.min.js" )"></script><!-- browser msie issue fix -->
    <script src="@Scripts.Url("~/js/plugin/fastclick/fastclick.min.js")"></script><!-- FastClick: For mobile devices -->
    <script src="@Scripts.Url("~/js/plugin/bootstraptree/bootstrap-tree.min.js")"></script>
    <!--[if IE 8]>
    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->

    <!-- MAIN APP JS FILE -->
    <script src="@Scripts.Url("~/js/app.min.js" )"></script>

    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="@Scripts.Url("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Scripts.Url("~/js/plugin/datatables/dataTables.colVis.min.js")"></script>
    <script src="@Scripts.Url("~/js/plugin/datatables/dataTables.tableTools.min.js" )"></script>
    <script src="@Scripts.Url("~/js/plugin/datatables/dataTables.bootstrap.min.js" )"></script>
    <script src="@Scripts.Url("~/js/plugin/datatable-responsive/datatables.responsive.min.js" )"></script>
    <script src="@Scripts.Url("~/js/plugin/x-editable/x-editable.min.js" )"></script>

    @*@Scripts.Render("~/scripts/lib/bundle")*@

    <script src="@Scripts.Url("~/Scripts/jquery.signalR-2.1.2.min.js")"></script>

    @*@Scripts.Render("~/signalr/hubs")*@


    @*@Scripts.Render("~/Scripts/App/bundle")*@
    @*@Scripts.Render("~/Scripts/App/ViewModels/bundle")*@
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/ckeditor/adapters/jquery.js")
    @Scripts.Render("~/Scripts/knockout-3.3.0.js")
    @Scripts.Render("~/Scripts/knockout.dirtyFlag.js")
    @Scripts.Render("~/Scripts/knockout.validation.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/uuid.js")
    @Scripts.Render("~/Scripts/offline.js")
    @Scripts.Render("~/Scripts/underscore-min.js")
    @Scripts.Render("~/Scripts/site.js")

    <script type="text/javascript">

	//$(function () {
	//	var notifications = $.connection.notificationHub;

	//	$.connection.hub.disconnected(function () {
	//		setTimeout(function () {
	//			$.connection.hub.start();
	//		}, 1000); // Restart connection after 1 second.
	//	});

	//	notifications.client.notify = function (message) {
	//		$.smallBox({
	//			title: "New Message",
	//			content: message,
	//			color: "#296191",
	//			//timeout: 8000,
	//			icon: "fa fa-bell swing animated"
	//		});
	//	};

	//	$.connection.hub.logging = true;

	//	$.connection.hub.start();
	//});

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        function ShowRoles(roles) {
            var roleList = "<ul>";
            $(roles).each(function( index, element ) {
                // element == this
                roleList +="<li>" + element + "</li>";
            });
            roleList +="</ul>";
            $('#spnRole').html(roleList);
        }

        function ShowFacilities(facilities) {
            var facilityList = "<ul>";
            $(facilities).each(function (index, element) {
                // element == this
                facilityList += "<li>" + element + "</li>";
            });
            facilityList += "</ul>";
            $('#spnFacility').html(facilityList);
        }

        function ShowUserDetails(response) {
            if (response.hasOwnProperty("Roles")) {

                ShowRoles(response.Roles);
            }
            if (response.hasOwnProperty("Facilities")) {
                ShowFacilities(response.Facilities);
            }
        }

	$(document).ready(function () {

	    pageSetUp();

	    //localStorage.setItem("appMode", "OnlineMode");

		/* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

		/* BASIC ;*/
	    var responsiveHelper_dt_basic = undefined;
	    var responsiveHelper_dt_basic_2 = undefined;
	    var responsiveHelper_dt_basic_3 = undefined;
	    var responsiveHelper_dt_basic_8 = undefined;
	    var responsiveHelper_dt_basic_9 = undefined;
	    var responsiveHelper_dt_basic_10 = undefined;
	    var responsiveHelper_dt_basic_11 = undefined;
		var responsiveHelper_datatable_fixed_column = undefined;
		var responsiveHelper_datatable_col_reorder = undefined;
		var responsiveHelper_datatable_tabletools = undefined;

		var breakpointDefinition = {
			tablet: 1024,
			phone: 480
		};

		$('#dt_basic').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic) {
		            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic.respond();
		    }
		});

		$('#dt_basic_2').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_2) {
		            responsiveHelper_dt_basic_2 = new ResponsiveDatatablesHelper($('#dt_basic_2'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_2.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_2.respond();
		    }
		});

		$('#dt_basic_3').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_3) {
		            responsiveHelper_dt_basic_3 = new ResponsiveDatatablesHelper($('#dt_basic_3'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_3.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_3.respond();
		    }
		});

		$('#dt_basic_8').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_8) {
		            responsiveHelper_dt_basic_8 = new ResponsiveDatatablesHelper($('#dt_basic_8'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_8.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_8.respond();
		    }
		});

		$('#dt_basic_9').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_9) {
		            responsiveHelper_dt_basic_9 = new ResponsiveDatatablesHelper($('#dt_basic_9'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_9.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_9.respond();
		    }
		});

		$('#dt_basic_10').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_10) {
		            responsiveHelper_dt_basic_10 = new ResponsiveDatatablesHelper($('#dt_basic_10'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_10.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_10.respond();
		    }
		});

		$('#dt_basic_11').dataTable({
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_dt_basic_11) {
		            responsiveHelper_dt_basic_11 = new ResponsiveDatatablesHelper($('#dt_basic_11'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_dt_basic_11.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_dt_basic_11.respond();
		    }
		});
	    /* END BASIC */

		/* COLUMN FILTER  */
		var otable = $('#datatable_fixed_column').DataTable({
			//"bFilter": false,
			//"bInfo": false,
			//"bLengthChange": false
			//"bAutoWidth": false,
			//"bPaginate": false,
			//"bStateSave": true // saves sort state using localStorage
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
			"autoWidth": true,
			"preDrawCallback": function () {
				// Initialize the responsive datatables helper once.
				if (!responsiveHelper_datatable_fixed_column) {
					responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
				}
			},
			"rowCallback": function (nRow) {
				responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
			},
			"drawCallback": function (oSettings) {
				responsiveHelper_datatable_fixed_column.respond();
			}

		});

		// custom toolbar
		$("div.toolbar").html('<div class="text-right"><img src="../img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

		// Apply the filter
		$("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

			otable
				.column($(this).parent().index() + ':visible')
				.search(this.value)
				.draw();

		});
		/* END COLUMN FILTER */

		/* COLUMN SHOW - HIDE */
		$('#datatable_col_reorder').dataTable({
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
			"autoWidth": true,
			"preDrawCallback": function () {
				// Initialize the responsive datatables helper once.
				if (!responsiveHelper_datatable_col_reorder) {
					responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
				}
			},
			"rowCallback": function (nRow) {
				responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
			},
			"drawCallback": function (oSettings) {
				responsiveHelper_datatable_col_reorder.respond();
			}
		});

		/* END COLUMN SHOW - HIDE */

		/* TABLETOOLS */
		$('#datatable_tabletools').dataTable({

			// Tabletools options:
			//   https://datatables.net/extensions/tabletools/button_options
			"sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
				"t" +
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
			"oTableTools": {
				"aButtons": [
					"copy",
					"csv",
					"xls",
					{
						"sExtends": "pdf",
						"sTitle": "SmartAdmin_PDF",
						"sPdfMessage": "SmartAdmin PDF Export",
						"sPdfSize": "letter"
					},
					{
						"sExtends": "print",
						"sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
					}
				],
				"sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
			},
			"autoWidth": true,
			"preDrawCallback": function () {
				// Initialize the responsive datatables helper once.
				if (!responsiveHelper_datatable_tabletools) {
					responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
				}
			},
			"rowCallback": function (nRow) {
				responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
			},
			"drawCallback": function (oSettings) {
				responsiveHelper_datatable_tabletools.respond();
			}
		});

		/* END TABLETOOLS */

		$("#divoption").hide();

		// activate tooltips
        $("[rel=tooltip]").tooltip();

        @Html.Raw(ViewBag.PopUpMessage);

		$('#userModal').on('show.bs.modal', function (e) {
		    var url = "@Url.Action("GetUserDetails", "UserAdministration")";
		    $.ajax({
		        type: "GET",
		        url: url,
		        data: '{}',
		        contentType: "application/json; charset=utf-8",
		        dataType: "json",
		        success: ShowUserDetails,
		    });
		});
	})

    </script>
    @RenderSection("scripts", required: false)

    @{Html.RenderPartial("~/_KnockoutTemplates.ascx");}


</body>
</html>