@model PVIMS.Web.Models.DatasetElementDeleteModel

@{
    ViewBag.Title = "Delete Dataset Element";
}
@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";

    ViewBag.Icon = "fa-group";
    ViewBag.Heading = string.Format("Delete Dataset Element ({0})", Model.DatasetElementName);
    ViewBag.ClinicalCol = "orange"; ViewBag.AnalyticalCol = "white"; ViewBag.ReportingCol = "white"; ViewBag.PublisherCol = "white";
}

@section breadcrumb
{
    <li>Delete Dataset Element</li>
}

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Delete Dataset Element</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding smart-form">
                        <div class="alert alert-danger alert-block">
                            <strong>Please note!</strong> @ViewBag.AlertMessage 
                        </div>

                        @using (Html.BeginForm("DeleteDatasetElement", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.DatasetElementId)

                                <section>
                                    @Html.LabelFor(m => m.DatasetElementName)
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.DatasetElementName, new { @class = "form-control", @readonly = "readonly", @style = "background-color: #EBEBE4;" })
                                    </label>
                                </section>
                            </fieldset>

                            <footer>
                                @if(Model.AllowDelete)
                                {
                                    <input type="submit" class="btn btn-primary btn-sm" value="Delete"  />
                                }
                                <a href="@ViewBag.CancelRedirectUrl" class="btn btn-default">Back</a>
                            </footer>
                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>

            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->
