@model IEnumerable<PVIMS.Web.Models.EncounterListItem>

@{
    ViewBag.Title = "Encounters";
}

@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";

    ViewBag.Icon = "fa-stethoscope";
    ViewBag.Heading = "Encounters";
    ViewBag.ClinicalColour = "orange"; ViewBag.AnalyticalColour = "white"; ViewBag.ReportingColour = "white"; ViewBag.PublisherColour = "white"; ViewBag.AdminColour = "white";
}

@section breadcrumb
{
    <li>Encounters</li>
}


<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Encounters</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div class="widget-body">
                            <div class="well well-sm bg-color-blueLight txt-color-white text-right">
                                <a href="@Url.Action("AddEncounter")" class="btn btn-primary btn-sm">Add Encounter</a>
                            </div>

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PatientFullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EncounterType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EncounterDate)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PatientFullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EncounterType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EncounterDate)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                @*<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>*@
                                                <a class="btn btn-default" href="@Url.Action("ViewEncounter", new { eId = item.EncounterId })">View Encounter</a>
                                                @*</li>
                                            </ul>*@
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>
    <!-- end row -->

</section>
<!-- end widget grid -->
