@model PVIMS.Web.Models.EncounterViewModel
@{
    ViewBag.Title = "View Encounter";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
    ViewBag.Icon = "fa fa-file-text-o";
    ViewBag.Heading = string.Format("Encounter ({0})", Model.PatientFullName);
    ViewBag.SubHeading = "View";
    ViewBag.OverrideBreadcrumb = true;
    ViewBag.ClinicalColour = "orange"; ViewBag.AnalyticalColour = "white"; ViewBag.ReportingColour = "white"; ViewBag.PublisherColour = "white"; ViewBag.AdminColour = "white";
}
@section breadcrumb
{
    <li><a href="~/Encounter/EncounterSearch.aspx">Encounters</a></li>
    <li><a href="@Url.Action("ViewEncounter", "Encounter" , new { id = Model.EncounterId })">Encounter (@Model.PatientFullName)</a></li>
}

<!-- widget grid -->
<div id="widget-grid" class="">

    <div class="row">
        
        <div class="col-sm-12 col-md-12 col-lg-9">

            <div class="row">

                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-folder-open"></i> </span>
                        <h2>Encounter Information</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body padding" id="tabs">
                            @Html.HiddenFor(model => model.PatientId)
                            @using (Html.BeginForm())
                            {
                                <ul class="nav nav-tabs bordered">
                                    @foreach (var datasetCategory in Model.DatasetCategories)
                                    {
                                        if (datasetCategory.DatasetCategoryDisplayed)
                                        {
                                            <li>
                                                <a href="#@datasetCategory.DatasetCategoryId" data-toggle="tab" aria-expanded="true">@datasetCategory.DatasetCategoryName</a>
                                            </li>
                                        }
                                    }
                                    <li>
                                        <a href="#notesTab" data-toggle="tab" aria-expanded="true">Notes</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    @for (int i = 0; i <= Model.DatasetCategories.Length - 1; i++)
                                    {
                                        var cls = i == 0 ? "tab-pane active smart-form" : "tab-pane smart-form";

                                        if (Model.DatasetCategories[i].DatasetCategoryDisplayed)
                                        {
                                            <div id="@Model.DatasetCategories[i].DatasetCategoryId" class="@cls">
                                                <div>
                                                    <fieldset>
                                                        @foreach (var element in Model.DatasetCategories[i].DatasetElements)
                                                        {
                                                            if (element.DatasetElementDisplayed)
                                                            {
                                                                <div class="row">
                                                                    <section class="col col-10">
                                                                        <label class="label">@element.DatasetElementDisplayName</label>
                                                                        @if (element.DatasetElementSystem)
                                                                        {
                                                                            <label class="input">
                                                                                <input class="form-control" id="@element.DatasetElementId" value="@element.DatasetElementValue" type="text" readonly="readonly" style="background-color:#F1F1F1;" />
                                                                            </label>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label class="input">
                                                                                @switch (element.DatasetElementType)
                                                                                {
                                                                                    case "Date":
                                                                                        <input class="form-control datepicker" id="@element.DatasetElementId" type="text" value="@element.DatasetElementValue" readonly="readonly" placeholder="yyyy-mm-dd" />
                                                                                        break;
                                                                                    case "Table":
                                                                                    <span class="form-control">
                                                                                        <a href="@Url.Action("ViewDatasetElementTable", new  { id = element.DatasetElementId, datasetInstanceId = Model.DatasetInstanceId })">Manage @element.DatasetElementName</a>
                                                                                    </span>
                                                                                        break;
                                                                                    case "Listbox":
                                                                                    case "DropDownList":
                                                                                    case "AlphaNumericTextbox":
                                                                                    case "NumericTextbox":
                                                                                    case "YesNo":
                                                                                    default:
                                                                                    <input class="form-control" id="@element.DatasetElementId" value="@element.DatasetElementValue" type="text" readonly="readonly" />
                                                                                        break;
                                                                                }
                                                                            </label>
                                                                        }

                                                                    </section>
                                                                </div>
                                                            }
                                                        }
                                                    </fieldset>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (Model.DatasetCategories.Length == 0)
                                    {
                                        <div id="notesTab" class="tab-pane active smart-form">
                                            @Html.TextAreaFor(model => model.EncounterNotes, 10, 20, new { @class = "ckeditor", @disabled = "disabled" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="notesTab" class="tab-pane smart-form">
                                            @Html.TextAreaFor(model => model.EncounterNotes, 10, 20, new { @class = "ckeditor", @disabled = "disabled" })
                                        </div>
                                    }
                                </div>
                                <br />
                                <div class="smart-form">
                                    <footer>
                                        @Html.ActionLink("Edit Encounter", "EditEncounter", new { id = Model.EncounterId }, new { @class = "btn btn-primary" })
                                        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-encounter-modal">Delete Encounter</a>
                                        <a href="@ViewBag.PatientUrl" class="btn btn-default">Go to Patient</a>
                                        @*<a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-encounter-modal">Delete</a>*@

                                        @*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Launch demo modal</button>*@
                                    </footer>
                                </div>

                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>

            </div>

            <div class="row">

                <div class="jarviswidget" id="wid-patientdata-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-folder-open"></i></span>
                        <h2>Clinical Information</h2>
                        <div class="widget-toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-xs">Add:</button>
                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="@Url.Action("AddPatientCondition", "PatientCondition", new { id = Model.PatientId })">
                                            Patient Condition
                                        </a>
                                        <a href="@Url.Action("AddPatientClinicalEvent", "PatientClinicalEvent", new { id = Model.PatientId })">
                                            Adverse Event
                                        </a>
                                        <a href="@Url.Action("AddPatientMedication", "PatientMedication", new { id = Model.PatientId })">
                                            Patient Medication
                                        </a>
                                        <a href="@Url.Action("AddPatientLabTest", "PatientLabTest", new { id = Model.PatientId })">
                                            Tests and Procedures
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body padding" id="additionalTabs">
                            <ul class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#patientConditionsTab" data-toggle="tab" aria-expanded="true">Patient Conditions</a>
                                </li>
                                <li>
                                    <a href="#patientClinicalEventsTab" data-toggle="tab" aria-expanded="true">Adverse Events</a>
                                </li>
                                <li>
                                    <a href="#patientMedicationTab" data-toggle="tab" aria-expanded="true">Patient Medication</a>
                                </li>
                                <li>
                                    <a href="#patientLabTestsTab" data-toggle="tab" aria-expanded="true">Tests and Procedures</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="patientConditionsTab" class="tab-pane active">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dt_basic_8">
                                            <thead>
                                                <tr>
                                                    <th style="width:35%">
                                                        @Html.DisplayName("Condition Name")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Start Date")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Outcome Date")
                                                    </th>
                                                    <th style="width:20%">
                                                        @Html.DisplayName("Outcome")
                                                    </th>
                                                    <th style="width:15%">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var patientCondition in Model.PatientConditions)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(item => patientCondition.TerminologyMedDRA)</td>
                                                        <td>@Html.DisplayFor(item => patientCondition.DateStart)</td>
                                                        <td>@Html.DisplayFor(item => patientCondition.DateEnd)</td>
                                                        <td>@Html.DisplayFor(item => patientCondition.Outcome)</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                                                                    Action
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="@Url.Action("EditPatientCondition", "PatientCondition" , new { id=patientCondition.PatientConditionId })">Edit Condition</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("DeletePatientCondition", "PatientCondition", new { id = patientCondition.PatientConditionId })">Delete Condition</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="patientClinicalEventsTab" class="tab-pane">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dt_basic_9">
                                            <thead>
                                                <tr>
                                                    <th style="width:35%">
                                                        @Html.DisplayName("Description")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Onset Date")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Reported Date")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Resolution Date")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Is Serious")
                                                    </th>
                                                    <th style="width:10%">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var patientClinicalEvent in Model.PatientClinicalEvents)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(item => patientClinicalEvent.SourceTerminologyMedDRA)</td>
                                                        <td>@Html.DisplayFor(item => patientClinicalEvent.OnsetDate)</td>
                                                        <td>@Html.DisplayFor(item => patientClinicalEvent.ReportedDate)</td>
                                                        <td>@Html.DisplayFor(item => patientClinicalEvent.ResolutionDate)</td>
                                                        <td>@Html.DisplayFor(item => patientClinicalEvent.IsSerious)</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                                                                    Action
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="@Url.Action("EditPatientClinicalEvent", "PatientClinicalEvent", new { id = patientClinicalEvent.PatientClinicalEventId })">Edit Adverse Event</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("DeletePatientClinicalEvent", "PatientClinicalEvent", new { id = patientClinicalEvent.PatientClinicalEventId })">Delete Adverse Event</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="patientMedicationTab" class="tab-pane">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dt_basic_10">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">
                                                        @Html.DisplayName("Drug Name")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Dose")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Dose Unit")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Dose Frequency")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Start Date")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("End Date")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Type of Indication")
                                                    </th>
                                                    <th style="width:15%">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var patientMedication in Model.PatientMedications)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(item => patientMedication.DrugName)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.Dose)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.DoseUnit)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.DoseFrequency)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.StartDate)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.EndDate)</td>
                                                        <td>@Html.DisplayFor(item => patientMedication.IndicationType)</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                                                                    Action
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="@Url.Action("EditPatientMedication", "PatientMedication", new { id = patientMedication.PatientMedicationId })">Edit Medication</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("DeletePatientMedication", "PatientMedication", new { id = patientMedication.PatientMedicationId })">Delete Medication</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="patientLabTestsTab" class="tab-pane">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="dt_basic_11">
                                            <thead>
                                                <tr>
                                                    <th style="width:25%">
                                                        @Html.DisplayName("Test")
                                                    </th>
                                                    <th style="width:10%">
                                                        @Html.DisplayName("Test Date")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Test Result (Coded)")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Test Result (Value)")
                                                    </th>
                                                    <th style="width:7%">
                                                        @Html.DisplayName("Test Unit")
                                                    </th>
                                                    <th style="width:15%">
                                                        @Html.DisplayName("Range Limits")
                                                    </th>
                                                    <th style="width:7%">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var patientLabTest in Model.PatientLabTests)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(item => patientLabTest.TestName)</td>
                                                        <td>@Html.DisplayFor(item => patientLabTest.TestDate)</td>
                                                        <td>@Html.DisplayFor(item => patientLabTest.TestResult)</td>
                                                        <td>@Html.DisplayFor(item => patientLabTest.LabValue)</td>
                                                        <td>@Html.DisplayFor(item => patientLabTest.TestUnit)</td>
                                                        <td>@Html.Raw(patientLabTest.Range)</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
                                                                    Action
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="@Url.Action("EditPatientLabTest", "PatientLabTest", new { id = patientLabTest.PatientLabTestId })">Edit Test and Procedure</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("DeletePatientLabTest", "PatientLabTest", new { id = patientLabTest.PatientLabTestId })">Delete Test and Procedure</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-3">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well" id="wid-encounter-desc">
                        <h5 class="margin-top-0">&nbsp;Details </h5>
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-9">
                                        <label class="input">
                                            Encounter Date
                                            <input class="form-control" id="txtUID" type="text" readonly="readonly" value="@Model.EncounterDate" style="background-color: #EBEBE4;">
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-9">
                                        <label class="input">
                                            Encounter Type
                                            <input class="form-control" id="txtGUID" type="text" readonly="readonly" value="@Model.EncounterType" style="background-color: #EBEBE4;">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div id="conditions" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well" id="wid-id-0 ">
                        <h5 class="margin-top-0">&nbsp;Condition Groups </h5>
                        <div>
                            <div class="widget-body padding">
                                @foreach (var group in Model.ConditionGroups)
                                {
                                    <div style="width:200px; color:black; padding:5px; text-align:left; border:solid; border-color:white; border-width:1px;">
                                        <a href="@Url.Action("EditPatientCondition", "PatientCondition", new { id = @group.PatientConditionId })" class="btn btn-default btn-sm">
                                            @group.ConditionGroup @group.Status
                                        </a>
                                    </div>
                                    <div style="color:black; padding:5px; text-align:left; border:solid; border-color:white; border-width:1px;">
                                        @group.Detail
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div id="weights" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well" id="wid-id-0 ">
                        <h5 class="margin-top-0">&nbsp;History of Weight Change (kg) </h5>
                        <div>
                            <div class="widget-body padding">
                                @foreach (var val in Model.InstanceValue.Values)
                                {
                                    <div style="width:200px; color:black; padding:5px; text-align:left; border:solid; border-color:white; border-width:1px;">
                                        <b>@val.ValueDate.ToString("yyyy-MM-dd")</b> : @val.Value
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    
</div>

<div class="modal" id="delete-encounter-modal">
</div>
@section Scripts {
  
    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs();
            $('#tabs').click('tabsselect', function(event, ui) {
                var active = $("#tabs").tabs("option", "active"); // retrieve zero based  index of tab
                console.log("Before verification " + active);
                console.log("Extract ref " + $("#tabs ul > li a").eq(active).attr('href'));
                localStorage.setItem("PatientNotesTab", $("#tabs ul > li a").eq(active).attr('href')); //store reference specific to that tab

            });


        });
    </script>

    <script type="text/javascript">
        $(function() {

            //maintaining selected tab during postback for additional information
            //Change the text of the button on tab change
            $('#additionalTabs').click('tabsselect', function(event, ui) {
                var index = $("#additionalTabs").tabs("option", "active");
                console.log("Selected tab index for additional information tab is   " + index + " and has been  set to local storage");
                localStorage.setItem("PatientAdditionalTab", index); //store reference specific to that tab
            });
        });

    </script>

    <script>

        $(function() {
            $('#additionalTabs').tabs();
            console.log("Retrieved index from local Storage since current selected index for additional tab has been is  " + localStorage.getItem("PatientAdditionalTab"));
            var selectedIndex = localStorage.getItem("PatientAdditionalTab"); //get it from local storage item
            console.log("Activating tab : " + selectedIndex);
            $("#additionalTabs").tabs({ active: selectedIndex });

        });


    </script>
    <script>

        $(function() {
            $('#additionalTabs').tabs();
            console.log("Retrieved index from local Storage since current selected index for additional tab has been is  " + localStorage.getItem("PatientAdditionalTab"));
            var selectedIndex = localStorage.getItem("PatientAdditionalTab"); //get it from local storage item
            console.log("Activating tab : " + selectedIndex);
            $("#additionalTabs").tabs({ active: selectedIndex });
        });
    </script>

    <script>

        function deleteEncounter() {
            var encounterId = @Model.EncounterId;
            var reason  = $('#deletionReason').val();
            var model = { id: encounterId, reason: reason };
            $.ajax({
                url: '@Url.Action("DeleteEncounter")', // to get the right path to controller from TableRoutes of Asp.Net MVC
                dataType: "json", //to work with json format
                type: "POST", //to do a post request
                contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false, //avoid caching results
                data:JSON.stringify(model) , // here you can pass arguments to your request if you need
                success: function (data) {
                    // data is your result from controller
                    if (data.success) {
                        var navigationPath = '@ViewBag.PatientUrl' + '&PopUpMessage=Encounter deleted successfully';
                        window.location.replace(navigationPath);
                    }
                },
                error: function (xhr) {
                    //alert('error');
                }
            });
        }

        function validateDeletionReason() {
            var isSuccessful = ValidateDeletionReason('#deletionReason', '#deletionErrorMessage', '#lblDeletionReason');
            if (isSuccessful) {
                $('#deleteEncounter').click();
            }
        }

        $(function() {

            var url = '';
            $('#delete-encounter-modal').on('show.bs.modal', function(e) {
                url = '@Url.Action("DeleteEncounter", "Encounter")';
                $.ajax({
                    url: url, //you can redirect to your specific controller here..
                    type: 'GET',
                    success: function(result) {
                        $('#delete-encounter-modal').html(result);
                        $('#deletePatientFullName').val('@Model.PatientFullName');
                        $('#deleteEncounterType').val('@Model.EncounterType');
                        $("#deleteEncounterDate").val( $.datepicker.formatDate('yy-mm-dd', new Date('@Model.EncounterDate')));
                    }
                });
            });

        });
    </script>
}
