@model PVIMS.Web.Models.DatasetInstanceModel

@{
    ViewBag.Title = "Spontaneous Report";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Icon = "fa fa-stethoscope";
    ViewBag.Heading = "Spontaneous Report";
    ViewBag.SubHeading = "View";
}

<!-- widget grid -->
<div id="widget-grid" class="">

    <div class="row">
        <div style="float:left; width:15%; border: 1px solid white;">

        </div>

        <article class="col-sm-12 col-md-12 col-lg-8">
            <br /><br />

            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-pencil"></i> </span>
                    <h2>Spontaneous Report</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body padding">
                        @Html.HiddenFor(model => model.DatasetInstanceId)
                        @using (Html.BeginForm())
                        {
                            <ul class="nav nav-tabs bordered">
                                @for (int i = 0; i <= Model.DatasetCategories.Length - 1; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li class="active">
                                            <a href="#@Model.DatasetCategories[i].DatasetCategoryId" data-toggle="tab" aria-expanded="true">@Model.DatasetCategories[i].DatasetCategoryDisplayName</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#@Model.DatasetCategories[i].DatasetCategoryId" data-toggle="tab" aria-expanded="true">@Model.DatasetCategories[i].DatasetCategoryDisplayName</a>
                                        </li>
                                    }
                                }
                            </ul>

                            <div class="tab-content">
                                @for (int i = 0; i <= Model.DatasetCategories.Length - 1; i++)
                                {
                                    var cssclass = "tab-pane smart-form";
                                    if (i == 0)
                                    {
                                        cssclass = "tab-pane active smart-form";
                                    }
                                    <div id="@Model.DatasetCategories[i].DatasetCategoryId" class="@cssclass">
                                        <div>
                                            <fieldset>
                                                @for (int j = 0; j <= Model.DatasetCategories[i].DatasetElements.Length - 1; j++)
                                                {
                                                    var element = Model.DatasetCategories[i].DatasetElements[j]; if (element.DatasetElementDisplayed)
                                                    {
                                                        <div class="row">
                                                            <section class="col col-10">
                                                                @if (element.DatasetElementChronic)
                                                                {
                                                                    <label class="label"><em class="fa fa-dot-circle-o text-danger" style="padding-right:3px; font-size:75%; vertical-align:top;"></em>@element.DatasetElementDisplayName</label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="label">@element.DatasetElementDisplayName</label>
                                                                }

                                                                <label class="input">
                                                                    @switch (element.DatasetElementType)
                                                                    {
                                                                        case "Date":
                                                                            <input class="form-control" id="@element.DatasetElementId" type="date" value="@element.DatasetElementValue" readonly="readonly" placeholder = "yyyy-mm-dd">
                                                                            break;
                                                                        case "Table":
                                                                            break;
                                                                        case "Listbox":
                                                                        case "DropDownList":
                                                                        case "AlphaNumericTextbox":
                                                                        case "NumericTextbox":
                                                                        case "YesNo":
                                                                        default:
                                                                        <input class="form-control" id="@element.DatasetElementId" value="@element.DatasetElementValue" type="text" readonly="readonly">
                                                                            break;
                                                                    }
                                                                </label>
                                                            </section>
                                                        </div>
                                                    }
                                                }
                                            </fieldset>
                                        </div>
                                    </div>
                                }
                            </div>
                            <br />
                            <div class="smart-form">
                                <footer>
                                    @Html.ActionLink("Return", "Login", "Account", null, new { @class = "btn btn-default" })
                                </footer>
                            </div>

                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- Manage Table Modal -->
            <div class="modal fade" id="manageTableModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="manageTableModalTitle">Manage Elements</h4>
                        </div>
                        <div class="modal-body">
                            <div id="tableDiv">
                                <table id="elementTable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr><th>Element</th><th>Value</th></tr>
                                    </thead>
                                    <tbody data-bind="foreach: datasetElementSubs">
                                        <tr>
                                            <td data-bind="text: elementName"></td>
                                            <td data-bind="text: elementValue"></td>
                                        </tr>
                                    <tbody>
                                </table>
                                @*<form class="form" role="form">
                                        <div class="form-group">
                                            <label for="elementvalue">Element:</label>
                                            <input type="text" class="form-control" id="elementvalue">
                                        </div>
                                        <button class="btn btn-default" onclick="return false;">Add</button>
                                    </form>*@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </article>

        <div style="float:left; width:15%; border: 1px solid white;">

        </div>

    </div>
    <!-- end row -->
</div>
@section Scripts {

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/lib/bundle")

    <script>

        $(".input-validation-error").removeClass("input-validation-error").parent().addClass("has-error");

        function DatasetElementSub(name, value) {
            var self = this;
            self.elementName = name;
            self.elementValue = value;
        }

        function DatasetElementSubViewModel() {
            var self = this;

            self.datasetElementId = 0;
            self.datasetInstanceValueId = 0;
            self.datasetElementSubs = ko.observableArray();

            self.reset = function () {
                self.datasetElementId = 0;
                self.datasetInstanceValueId = 0;
                self.datasetElementSubs([]);
            }

            self.addElementSub = function (dataElementSub) {
                self.datasetElementSubs.push(dataElementSub);
            }

            self.addElementSubs = function (dataElementSubs) {
                $.each(dataElementSubs, function (index, value) {
                    self.addElementSub(value);
                });
            }
        }

        var model = new DatasetElementSubViewModel();

        ko.applyBindings(model);

        $('#manageTableModal').on('show.bs.modal', function (e) {

            var elementId = $(e.relatedTarget).data('id');

            model.reset();

            //jQuery.ajax({
            //    type: "GET",
            //    url: "../../Api/DatasetInstanceApi/GetDatasetInstanceSubValuesForDatasetElement",
            //    data: { id: elementId },
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (data) {
            //        $.each(data, function (index, value) {
            //            model.addElementSub(new DatasetElementSub(value.ElementName, value.ElementValue));
            //        });
            //    }
            //});

        })

    </script>
}