@model PVIMS.Web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";

    ViewBag.Icon = "fa-user";
    ViewBag.Heading = string.Format("Reset Password ({0} {1} - {2})", Model.FirstName, Model.LastName, Model.UserName);
    ViewBag.ClinicalCol = "orange"; ViewBag.AnalyticalCol = "white"; ViewBag.ReportingCol = "white"; ViewBag.PublisherCol = "white";
}

@section breadcrumb
{
    <li>Administration</li>
    <li>@Html.ActionLink("Users", "Index", "UserAdministration")</li>
}
    

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Reset Password</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body padding">
                        @if (Model.ResetComplete)
                        {
                            <div class="alert alert-success fade in" id="divstatus">
                                <strong>Success</strong> Password reset successfully!
                            </div>
                        }

                        @using (Html.BeginForm("ResetPassword", "UserAdministration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.HiddenFor(m => m.Id)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (Model.ResetComplete)
                                    {
                                        <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Return</a>
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-sm" })
                                    }
                                </div>
                            </div>
                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
